@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-cover {
  @apply shadow-[-0px_-0px_40px]  shadow-violet-500/70;
}

.shadow-bottom {
  @apply shadow-[0px_40px_40px]  shadow-violet-500/70;
}

.section-container {
  @apply pb-16 md:pb-32 w-[80%] lg:w-[60%]  flex flex-col items-center;
}
